<div class="row">
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-header">
        <strong>Sessões criadas</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title display-4">{{ session?.sessionsOpenedCount }}</h5>
        <button class="btn btn-link" (click)="togglePanel('CREATED_SESSION')">
          <i
            class="fa-2x fa"
            [ngClass]="{
              'fa-angle-double-up': !expansivePanel['CREATED_SESSION'].opened,
              'fa-angle-double-down': expansivePanel['CREATED_SESSION'].opened
            }"
            aria-hidden="true"
            style="color: black"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-header">
        <strong>Sessões Votadas</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title display-4">{{ session?.sessionsVotedCount }}</h5>
        <button class="btn btn-link" (click)="togglePanel('VOTED_SESSION')">
          <i
            class="fa-2x fa"
            [ngClass]="{
              'fa-angle-double-up': !expansivePanel['VOTED_SESSION'].opened,
              'fa-angle-double-down': expansivePanel['VOTED_SESSION'].opened
            }"
            aria-hidden="true"
            style="color: black"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
